@import "../../variables.less";

.card-content-wrapper > .ant-list {
  width: 350px;
}

// PAGINATION STYLING
ul.ant-list-items {
  width: 100%;
  gap: @primary-gap;
  display: flex;
  flex-direction: column;
  li.ant-list-item {
    cursor: pointer;
    background-color: var(--background);
    display: flex;
    color: @primary-color;
  }
}

.ant-list-loading > .ant-list-pagination {
  display: none;
}

.ant-list .ant-list-pagination {
  padding: @size-med @size-xs;
  margin-top: @size-none;
  margin-block-start: @size-none;
  writing-mode: horizontal-tb;
}

// CARD STYLING

.crypto-card {
  .crypto-card-coin-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    .crypto-card-name {
      .crypto-card-avatar-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p {
          color: @secondary-text-color;
          display: block;
          flex: 1;
          text-align: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .crypto-card-price-container {
      text-align: end;
      font-size: @size-xl;
    }
  }
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: @size-none;

  }
  .refresh-interval {
    color: @tertiary-text-color;
    display: flex;
    height: 100%;
    font-size: @size-med;
  }
}
h2.section-title {

}
