@import "../../variables.less";

.card-content-wrapper > .ant-list {
  width: 300px;
}

// PAGINATION STYLING
ul.ant-list-items {
  width: 100%;
  // width: 400px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  li.ant-list-item {
    cursor: pointer;
    background-color: var(--background);
    display: flex;
    padding: 0px 10px 4px 10px;
    color: #00ff00;
  }
}

.ant-list-loading > .ant-list-pagination {
  display: none;
}

.ant-list .ant-list-pagination {
  padding: 12px 8px;
  margin-top: 0px;
  margin-block-start: 0px;
  writing-mode: horizontal-tb;
}

// CARD STYLING

.crypto-card {
  .crypto-card-coin-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    .crypto-card-name {
      .crypto-card-avatar-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p {
          color: antiquewhite;
          display: block;
          flex: 1;
          text-align: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-left: 8px;
        }
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .crypto-card-price-container {
      text-align: end;
      font-size: 20px;
    }
  }
}
