@import "../../variables.less";

.crypto-drawer-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 0px;
    color: @primary-color;
  }
}

.crpyto-drawer {
  padding: 0px 20px 0px 20px;
  h3 {
    color: @primary-color;
  }
  background-color: @background-color;
  width: 100%;
}

.ant-layout-sider-children {
  background-color: @background-color;
}

// ANTD AVATAR STYLES

.crypto-drawer-stats {
  color: antiquewhite;
  display: flex;
  align-items: center;
  gap: @primary-gap;
  margin: 15px 0px;
}

// UP/DOWN STYLES
.negative {
  color: @danger-color;
}

.positive {
  color: @primary-color;
}

.crypto-buy-sell-button {
  background-color: @primary-color;
  width: 180px;
}

.crypto-drawer-change {
  display: flex;

  gap: @primary-gap;

  .ant-segmented {
    background-color: @secondary-background-color;
  }
}

.crypto-drawer-list {
  ul.ant-list-items {
  }
  li.ant-list-item {
    display: flex;
    align-items: center;
  }
}
