@import "../../variables.less";

.crypto-drawer-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 0px;
    color: @primary-color;
  }
}

.crpyto-drawer {
  padding: 16px 23px 0px 0px;
  h3 {
    color: @primary-color;
  }
  background-color: @background-color;
  width: 100%;
}

.ant-layout-sider-children {
  background-color: @background-color;
}

// ul.ant-list-items {
//   justify-content: center;
//   align-items: center;
//   display: flex;
//   width: 100%;
// }

// li.ant-list-item {
//   padding: @size-med @size-none;
//   color: @primary-color;
//   width: 100%;
//   display: flex;
//   justify-content: center;
// }

// ANTD AVATAR STYLES

.crypto-drawer-stats {
  color: antiquewhite;
  display: flex;
  align-items: center;
  gap: @primary-gap;
}

// UP/DOWN STYLES
.negative {
  color: @danger-color;
}

.positive {
  color: @primary-color;
}

.crypto-buy-sell-button {
  background-color: @primary-color;
  width: 180px;
}

.crypto-drawer-change {
  display: flex;

  gap: @primary-gap;

  .ant-segmented {
    background-color: @secondary-background-color;
  }
}

.crypto-drawer-list {
  ul.ant-list-items {
    gap: @size-xl;
  }
}
