@primary-color: #00ff00;
@background-color: #242424;
@secondary-background-color: #1c1c1c;
@danger-color: #ff4d4d;
@size-none: 0px;
@size-xxs: 4px;
@size-xs: 8px;
@size-small: 10px;
@size-med: 12px;
@size-l: 16px;
@size-xl: 20px;
@size-xxl: 35px;
@primary-gap: @size-xs;
@secondary-text-color: #FAEBD7;
@tertiary-text-color: #686767;
