@import "../../variables.less";

.crypto-drawer-chart {
  canvas {
    min-height: 300px;
    max-height: 400px;
  }
  display: flex;
  width: 100%;
  padding: @size-xl;
  border-radius: @size-xs;
}

.crypto-chart-loading-box {
  min-height: 300px;
  max-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: @size-xl;
  border-radius: @size-xs;
}
